<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mit.media.funf.wifiscanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Probe Services -->
        <service android:name="edu.mit.media.funf.probe.builtin.LocationProbe" />
        <service android:name="edu.mit.media.funf.probe.builtin.AccelerometerSensorProbe" />
        <service android:name="edu.mit.media.funf.probe.builtin.ActivityProbe" />
        <service android:name="edu.mit.media.funf.probe.builtin.CallLogProbe" />
        <service android:name="edu.mit.media.funf.probe.builtin.SMSProbe" />
        
        <!-- Framework services -->
        <service android:name="edu.mit.media.funf.wifiscanner.MainPipeline" />
        <service android:name="edu.mit.media.funf.storage.NameValueDatabaseService" />
        <service android:name="edu.mit.media.funf.storage.HttpUploadService"/>

        <receiver
            android:name="edu.mit.media.funf.wifiscanner.LauncherReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DOCK_EVENT" />
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- created by Cat at 2013-01-15 15:37:58 -->
        <activity android:name="edu.mit.media.funf.wifiscanner.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.mit.media.funf.wifiscanner.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>
    
    <!-- Battery Probe and launching -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
   

    <!-- All probes -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
   
    <!-- Location probe, Cell probe -->
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   
    <!-- Location probe -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  
   
   
    <!-- Wifi and Hardware Info probes -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
   
     <!-- Wifi probe -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
   
    <!-- Bluetooth probe -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
   
    <!-- Bluetooth and Hardware Info probes -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
   
    <!-- Running applications probe -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
   
    <!-- Browser probes -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
   
    <!-- Call Log and Contact probes -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
   
    <!-- Backing up database to SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   
    <!-- Backing up to the web -->
    <uses-permission android:name="android.permission.INTERNET" />
   
    <!--  SMS Probe -->
    <uses-permission android:name="android.permission.READ_SMS" />
   
    <!-- Running applications probe -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
   
    <!-- Running Audio features probe -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
   
    <!-- DatabaseService, Archive service (unique ids) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    

</manifest><!--
 * Funf: Open Sensing Framework
 * Copyright (C) 2010-2011 Nadav Aharony, Wei Pan, Alex Pentland. 
 * Acknowledgments: Alan Gardner
 * Contact: nadav@media.mit.edu
 * 
 * This file is part of Funf.
 * 
 * Funf is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as 
 * published by the Free Software Foundation, either version 3 of 
 * the License, or (at your option) any later version. 
 * 
 * Funf is distributed in the hope that it will be useful, but 
 * WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
 * See the GNU Lesser General Public License for more details.
 * 
 * You should have received a copy of the GNU Lesser General Public 
 * License along with Funf. If not, see <http://www.gnu.org/licenses/>.
-->
